.navbar-nav .nav-link {
  background-color: #cac8c8;
  color: #212529 !important; /* Texto oscuro */
  font-weight: normal;
  font-size: 1.15rem;
  padding: 0.5rem 1.2rem;
  border-radius: 8px;
  transition: background 0.2s, color 0.2s;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link:focus,
.navbar-nav .nav-link:hover {
  background: #212529;
  color: #cac8c8 !important; /* Texto blanco */
}
.navbar-logo {
  height: 50px;
  width: auto;
  background-color: #212529;
  object-fit: contain;
  margin-right: 10px;
  border-radius: 8px;
  padding: 8px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
}

.navbar-title {
  font-size: 1.3rem;
  font-weight: bold;
  color: black;
}
.navbar-nav .nav-link.active,
.navbar-nav .nav-link:focus,
.navbar-nav .nav-link:hover {
  background: #212529;
  color: #cac8c8; /* Texto blanco */
}
.navbar-toggler {
  background-color: #212529 !important;
  padding: 2px 6px;
  border-radius: 8px;
}
